# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Python (backend)
# =========================
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd

backend/.venv/
backend/venv/
backend/env/

backend/.python-version

backend/.pytest_cache/
backend/.mypy_cache/

backend/*.log

# build / dist
backend/build/
backend/dist/
backend/*.egg-info/

# =========================
# Model / AI artifacts (optional - nếu nặng)
# =========================
backend/**/*.pt
backend/**/*.pth
backend/**/*.onnx
backend/**/*.engine

backend/bubble_detector/comic.engine
backend/translator/nllb-600M-ct2-float16/
backend/translated_output/
backend/translator/translate_models/**

# =========================
# Node (frontend)
# =========================
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# =========================
# Env files (IMPORTANT)
# =========================
.env
backend/.env
frontend/.env

# =========================
# Misc
# =========================
*.swp
*.tmp